---
title: Step Up Software Blog
---

<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

    <body id="page-top" class="index">
        <header class="intro-header" style="background-color:transparent;" >
            <div class="container">
                <div class="row bg-darkest-gray">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <div class="site-heading">
                            <h1>{{page.title}}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="row bg-light-gray">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    {% for post in site.posts %}
					    {% if post.categories contains 'blog' %}
                            <div class="post-preview">
                                <a href="post.html">
                                    <h2 class="post-title">
                                       <a href="{{ post.url }}">{{ post.title }}</a>
                                    </h2>
                                    <h4 class="post-subtitle">
                                        {{ post.excerpt }}
                                    </h4>
                                </a>
                                <p class="post-meta">Posted 
                                    {% if post.author != "" and post.author != nil and post.author != blank %} 
                                        by {{post.author}} 
                                    {% endif %}
                                    on {{ post.date | date_to_long_string }}
                                </p>
                            </div>
                            <hr>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>
 