<div class="portfolio-modal privacy-modal modal fade" id="privacyModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Privacy Policy</h2>
                        <hr class="star-primary">

                        <h4>How we use your information</h4>

                        This privacy notice tells you what to expect when Step Up Software Ltd collects personal information. <br/>It
                        applies to information we collect about:
                        <ul>
                            <li>people who use our services, eg who subscribe to our newsletter or request a publication from
                                us</li>
                            <li>visitors to our website</li>
                            <li>job applicants and our current and former employees</li>
                        </ul>
                        <h4>People who use our services</h4>

                        We offer various services to the public. For example, we send out publications and distribute an electronic newsletter. We
                        use a third party to deal with some publication requests, but they are only allowed to use the information
                        to send out the publications. We have to hold the details of the people who have requested the service
                        in order to provide it. However, we only use these details to provide the service the person has
                        requested and for other closely related purposes. For example, we might use information about people
                        who have requested a publication to carry out a survey to find out if they are happy with the level
                        of service they received. When people do subscribe to our services, they can cancel their subscription
                        at any time and are given an easy way of doing this.

                        <h4>Visitors to our website</h4>

                        When someone visits our website we collect standard internet log information and details of visitor behaviour patterns. We
                        do this to find out things such as the number of visitors to the various parts of the website. We
                        collect this information in a way which does not identify anyone. We do not make any attempt to find
                        out the identities of those visiting our website. We use Google Analytics to help analyse use of
                        our website. This analytical tool uses 'cookies', which are text files placed on your computer, to
                        collect standard internet log information and visitor behaviour information in an anonymous form.
                        The information generated by the cookie about your use of the website (including your IP address)
                        is transmitted to Google. This information is then used to evaluate visitors’ use of the website
                        and to compile statistical reports on website activity for us. To find out more about cookies, including
                        how to control and delete them, visit <a title="www.aboutcookies.org/" href="http://www.aboutcookies.org/">www.aboutcookies.org/</a>,
                        or to opt out of being tracked by Google Analyics across all websites visit <a title="http://tools.google.com/dlpage/gaoptout"
                            href="http://tools.google.com/dlpage/gaoptout">http://tools.google.com/dlpage/gaoptout</a>. We will
                        not (and will not allow any third party) to use the statistical analytics tool to track or to collect
                        any personally identifiable information of visitors to our site. We will not associate any data gathered
                        from this site with any personally identifying information from any source as part of our use of
                        the Google statistical analytics tool. Google will not associate your IP address with any other data
                        held by Google. Neither Step Up Software Ltd nor Google will link, or seek to link, an IP address
                        with the identity of a computer user.

                        <h4>Job applicants, current and former Step Up Software Ltd employees</h4>

                        When individuals apply to work at Step Up Software Ltd, we will only use the information they supply to us to process their
                        application and to monitor recruitment statistics. Where we want to disclose information to a third
                        party, for example where we want to take up a reference or obtain a ‘disclosure’ from the Criminal
                        Records Bureau we will not do so without informing them beforehand unless the disclosure is required
                        by law. Personal information about unsuccessful candidates will be held for 12 months after the recruitment
                        exercise has been completed, it will then be destroyed or deleted. We retain de-personalised statistical
                        information about applicants to help inform our recruitment activities, but no individuals are identifiable
                        from that data. Once a person has taken up employment with Step Up Software Ltd, we will compile
                        a file relating to their employment. The information contained in this will be kept secure and will
                        only be used for purposes directly relevant to that person’s employment. Once their employment with
                        Step Up Software Ltd has ended, we will retain the file in accordance with the requirements of our
                        retention schedule and then delete it.

                        <h4>Complaints or queries</h4>

                        Step Up Software Ltd tries to meet the highest standards when collecting and using personal information. For this reason,
                        we take any complaints we receive about this very seriously. We encourage people to bring it to our
                        attention if they think that our collection or use of information is unfair, misleading or inappropriate.
                        We would also welcome any suggestions for improving our procedures. This privacy notice was drafted
                        with brevity and clarity in mind. It does not provide exhaustive detail of all aspects of Step Up
                        Software Ltd’s collection and use of personal information. However, we are happy to provide any additional
                        information or explanation needed. Any requests for this should be sent to the address below.

                        <h4>Access to personal information</h4>

                        Step Up Software Ltd tries to be as open as it can be in terms of giving people access to their personal information. Individuals
                        can find out if we hold any personal information by making a ‘subject access request’ under the Data
                        Protection Act 1998. If we do hold information about you we will:
                        <ul>
                            <li>give you a description of it;</li>
                            <li>tell you why we are holding it;</li>
                            <li>tell you who it could be disclosed to; and</li>
                            <li>let you have a copy of the information in an intelligible form.</li>
                        </ul>
                        To make a request to Step Up Software Ltd for any personal information we may hold you need to put the request in writing
                        to the address provided below.

                        <h4>Disclosure of personal information</h4>

                        In many circumstances we will not disclose personal data without consent. However when we investigate a complaint, for example,
                        we will need to share personal information with the organisation concerned and with other relevant
                        bodies. You can also get further information on:
                        <ul>
                            <li>agreements we have with other organisations for sharing information;</li>
                            <li>circumstances where we can pass on personal data without consent for example, to prevent and
                                detect crime and to produce anonymised statistics;</li>
                            <li>our instructions to staff on how to collect, use and delete personal data; and</li>
                            <li>how we check that the information we hold is accurate and up to date.</li>
                            <li>Links to other websites</li>
                        </ul>
                        This privacy notice does not cover the links within this site linking to other websites. We encourage you to read the privacy
                        statements on the other websites you visit.

                        <h4>Changes to this privacy notice</h4>

                        We keep our privacy notice under regular review and we will place any updates on this webpage. This privacy policy was last
                        updated on 8 October 2010.

                        <h4>How to contact us</h4>

                        You can request more information about our privacy policy by writing to: Step Up Software Ltd Bracknell Enterprise &amp;
                        Innovation Hub Ocean House The Ring Bracknell RG12 1AX
                        <br/>
                        <br/>

                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>