<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Services</h2>
                    <!--<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-mobile-phone fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Mobile Apps</h4>
                    <p class="text-muted">Development and support of iOS and Android apps using Titanium, React Native and Swift.<br/>Titanium training for your development team.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa icon-nodejs fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Node.js Development</h4>
                    <p class="text-muted">Development of backend services, application proxies and middleware services.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">AGILE PROJECT MANAGEMENT</h4>
                    <p class="text-muted">Project Management, Delivery Lead / Development Lead services, Agile methodology and tools implementation</p>
                </div>
            </div>
        </div>
    </section>