---
layout: XXX
---
<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

    <body id="page-top" class="index">
        <header class="intro-header" style="background-color:transparent;" >
            <div class="container">
                <div class="row bg-darkest-gray">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <div class="site-heading">
                            <h1>Step Up Software Blog</h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="row bg-light-gray">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <div class="post-preview">
                            <h2 class="post-title text-primary">
                                {{ page.title }}
                            </h2>
                            <p class="post-subtitle ">
                                {{ content }}
                            </p>
                            <p class="post-meta">Posted
                                {% if page.author != "" and page.author != nil and page.author != blank %}
                                    by {{page.author}}
                                {% endif %}
                                on {{ page.date | date_to_long_string }}
                            </p>
                        </div>
                    <hr>
                </div>
            </div>

            <div class="row share-page  bg-light-gray">

                <div class="text-center" >

                    <a class="btn btn-social-icon btn-facebook share s_facebook"
                        href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}"
                        onclick="window.open(this.href, 'pop', 'width=600, height=400, scrollbars=no'); return false;">
                        <i class="fa fa-facebook"></i>
                    </a>

                    <a class="btn btn-social-icon btn-google"
                        href="https://plus.google.com/share?url=http://tomhohenstein.com{{ page.url }}&hl=en-US"
                        onclick="window.open(this.href, 'pop', 'width=600, height=400, scrollbars=no'); return false;">
                        <i class="fa fa-google"></i>
                    </a>

                    <a class="btn btn-social-icon btn-linkedin"
                        href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}&source={{ site.title }}"
                        onclick="window.open(this.href, 'pop', 'width=600, height=400, scrollbars=no'); return false;">
                        <i class="fa fa-linkedin"></i>
                    </a>

                    <a class="btn btn-social-icon btn-twitter"
                        href="https://twitter.com/share?text={{ page.title }}&url={{ site.url }}{{site.baseurl}}{{ page.url }}&via={{ site.twitter_username }}"
                        onclick="window.open(this.href, 'mywin','width=600, height=400, scrollbars=no'); return false;">
                        <i class="fa fa-twitter"></i>
                    </a>
                </div>
            </div>

        </div>
    </body>
</html>
